/* PUCIT Help Desk - Website
This is the main CSS file for this project */

/*Screen Width with respective sizes
xl: 1200px and greater
lg: 992px to 1199px
md: 768px to 991px
sm: 576px to 767px
xs: 575px and smaller*/

/* ------------------------------------------------------------- */

/* ------ Global Variables ------ */
:root {
  --main-background-color: #3d3d3d;
  --main-foreground-color: #f1f2f6;
  --sidebar-background-color: linear-gradient(90deg, rgba(220, 221, 225, 1.0) 0%, rgba(245, 246, 250, 1.0) 100%);
  --sidebar-foreground-color: #000;
  --links-color: #00cec9;
  --links-hover-color: #00cec9;
  --sidebar-max-width-xl: 90px;
  --sidebar-max-width-lg: 80px;
  --sidebar-max-width-md: 75px;
  --sidebar-max-width-sm: 60px;
  --sidebar-max-width-xs: 50;
}

/* External Fonts Import */
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&family=Montaga&family=Montserrat:wght@300;400&display=swap');

/* ------ Styling ------ */
/* font classes start */
.font-montserrat {
  font-family: 'Montserrat', sans-serif;
}

.font-montserrat-light {
  font-family: 'Montserrat Light', sans-serif;
}

.font-montaga {
  font-family: 'Montaga', serif;

}

.font-raleway {
  font-family: 'Raleway', sans-serif;
}

.font-roboto {
  font-family: 'Roboto', sans-serif;
}

/* font classes end */


body {
  height: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.sidebar {
  background: var(--sidebar-background-color);
  color: var(--sidebar-foreground-color);
  height: 100%;
  z-index: 2;
  position: fixed;
  left: 0;
  top: 0;
  text-transform: uppercase;
  box-shadow: 0px 0px 2px #000;
  display: grid;
  justify-content: center;
}

.social-media-list {
  text-align: center;
  display: grid;
  grid-template-rows: auto auto auto auto auto;
  margin-bottom: 100px;
}

.sidebar a,
.sidebar a:hover {
  text-decoration: none;
  color: var(--main-background-color);
  font-weight: bold;
  margin-bottom: 20px;
}

.sidebar #logo {
  margin: 10px 4px 0px;
}

.fa-facebook:hover {
  color: #3b5998;
}

.fa-users:hover {
  color: #3b5998;
}

.fa-github:hover {
  color: #000000;
}

.fa-instagram:hover {
  background: -webkit-linear-gradient(-130deg, #515BD4, #8134AF, #DD2A7B, #FEDA77, #F58529);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.fa-linkedin:hover {
  color: #0e76a8;
}

main {
  color: var(--main-foreground-color);
  width: 100%;
  height: 100%;
  z-index: 1;
}

.bottom-container {
  width: auto;
  margin: auto;
}

.x-dev-img {
  display: block;
  width: auto;
  margin: auto;
}

button {
  outline: none;
}

.bttn-unite {
  width: 80%;
  outline: none;
  padding: 3px 0px;
}

footer {
  bottom: 0;
  position: absolute;
  text-align: center;
  width: 100%;
  color: var(--main-foreground-color);
  margin-bottom: 10px;
}

footer {
  text-shadow: 0px 0px 2px white;
}

.welcome-heading {
  text-shadow: 0px 0px 4px lightcyan;
}

.blog-box {
  border: 4px solid white;
  padding: 2px;
  width: 85%;
  margin-top: 30px;
}

.blog-box:hover {
  background-color: black;
  text-shadow: 0px 0px 2px white;
}

.blog-box>strong {
  font-size: 1.8em;
}

input {
  margin: 10px 100px;
}

#particles-js {
  z-index: 0;
  position: absolute;
  width: 100%;
  height: 100%;
}

/* Calculator Styling */
.calc-dark {
  height: 600px;
  background-size: cover;
  position: relative;
}

.calc-dark form {
  max-width: 320px;
  width: 90%;
  background-color: rgba(44, 62, 80, 0.5);
  padding: 30px;
  border-radius: 30px;
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
  color: #fff;
  box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.2);
}

.calc-dark form .form-control {
  background: none;
  border: none;
  border-bottom: 1px solid #0c1c2e;
  border-radius: 0;
  box-shadow: none;
  outline: none;
  color: inherit;
}


/* ------ Media Queries ------ */
/* Extra Small */
@media (max-width:576px) {
  .calc-dark {
    height: 500px;
  }

  .calc-dark form {
    padding: 5px;
  }

  .welcome-heading {
    font-size: 1.2em;
  }

  main {
    /*sidebar margin*/
    padding-left: calc(var(--sidebar-max-width-sm) - 9px);
  }

  .sidebar {
    grid-template-rows: 80px auto;
  }

  .sidebar #logo {
    max-width: 40px;
  }

  .sidebar i {
    font-size: 26px;
  }

  #featured-slider-container>div {
    font-size: 13px;
  }

  #featured-slider-container>div>span {
    font-size: 20px;
  }

  .x-dev-img {
    width: 90px;
  }

  .calculator-btns button {
    font-size: 14px;
    text-align: center;
    padding: 0 5px;
  }

  footer {
    padding-left: var(--sidebar-max-width-xs + 20px);
  }

  .calculator-btns {
    margin-top: 30px;
  }

  .blog-box>strong {
    font-size: 1.2em;
  }

  .blog-box {
    font-size: 0.8em;
  }
}

/* Small */
@media (min-width:576px) and (max-width: 768px) {
  .calc-dark form {
    padding: 10px;
  }

  .welcome-heading {
    font-size: 1.6em;
  }

  main {
    /*sidebar margin*/
    padding-left: calc(var(--sidebar-max-width-sm) + 20px);
  }

  .sidebar {
    grid-template-rows: 90px auto;
  }

  .sidebar #logo {
    max-width: 65px;
  }

  .sidebar i {
    font-size: 32px;
  }

  #featured-slider-container>div {
    font-size: 16px;
  }

  #featured-slider-container>div>span {
    font-size: 23px;
  }

  footer {
    padding-left: var(--sidebar-max-width-sm);
  }
}

/* Medium */
@media (min-width:768px) and (max-width:992px) {
  .welcome-heading {
    font-size: 1.7em;
  }

  main {
    /*sidebar margin*/
    padding-left: calc(var(--sidebar-max-width-md) + 16px);
  }

  .sidebar {
    grid-template-rows: 100px auto;
  }

  .sidebar #logo {
    max-width: 75px;
  }

  .sidebar i {
    font-size: 38px;
  }

  #featured-slider-container>div {
    font-size: 20px;
  }

  #featured-slider-container>div>span {
    font-size: 30px;
  }

  footer {
    padding-left: var(--sidebar-max-width-md);
  }
}

/* Large */
@media (min-width:992px) and (max-width:1200px) {
  .welcome-heading {
    font-size: 1.9em;
  }

  main {
    /*sidebar margin*/
    padding-left: calc(var(--sidebar-max-width-lg) + 16px);
  }

  .sidebar {
    grid-template-rows: 115px auto;
  }

  .sidebar #logo {
    max-width: 80px;
  }

  .sidebar i {
    font-size: 40px;
  }

  #featured-slider-container>div {
    font-size: 21px;
  }

  #featured-slider-container>div>span {
    font-size: 40px;
  }

  footer {
    padding-left: var(--sidebar-max-width-lg);
  }
}

/* Extra Large */
@media (min-width:1200px) {
  .welcome-heading {
    font-size: 2em;
  }

  main {
    /*sidebar margin*/
    padding-left: calc(var(--sidebar-max-width-xl) + 16px);
  }

  .sidebar {
    grid-template-rows: 130px auto;
  }

  .sidebar #logo {
    max-width: 90px;
  }

  .sidebar i {
    font-size: 45px;
  }

  #featured-slider-container>div {
    font-size: 23px;
  }

  #featured-slider-container>div>span {
    font-size: 40px;
  }

  footer {
    padding-left: var(--sidebar-max-width-xl);
  }
}