/* PUCIT Help Desk - Website
This is the main CSS file for this project */

/*Screen Width with respective sizes
xl: 1200px and greater
lg: 992px to 1199px
md: 768px to 991px
sm: 576px to 767px
xs: 575px and smaller*/

/* ------------------------------------------------------------- */

/* ------ Global Variables ------ */
:root {
  --main-background-color: #3d3d3d;
  --main-foreground-color: #f1f2f6;
  --sidebar-background-color: linear-gradient(90deg, rgba(220, 221, 225, 1.0) 0%, rgba(245, 246, 250, 1.0) 100%);
  --sidebar-foreground-color: #000;
  --links-color: #00cec9;
  --links-hover-color: #00cec9;
  --sidebar-max-width-xl: 90px;
  --sidebar-max-width-lg: 80px;
  --sidebar-max-width-md: 75px;
  --sidebar-max-width-sm: 60px;
  --sidebar-max-width-xs: 50;
}

/* External Fonts Import */
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&family=Montaga&family=Montserrat:wght@300;400&display=swap');

/* ------ Styling ------ */
/* font classes start */
.font-montserrat {
  font-family: 'Montserrat', sans-serif;
}

.font-montserrat-light {
  font-family: 'Montserrat Light', sans-serif;
}

.font-montaga {
  font-family: 'Montaga', serif;

}

.font-ibm-plex-sans {
  font-family: 'IBM Plex Sans', sans-serif;
}

/* font classes end */


.sidebar {
  background: var(--sidebar-background-color);
  color: var(--sidebar-foreground-color);
  height: 100%;
  z-index: 1;
  position: fixed;
  left: 0;
  top: 0;
  text-transform: uppercase;
  box-shadow: 0px 0px 2px #000;
  display: grid;
  justify-content: center;
}

.social-media-list {
  text-align: center;
  display: grid;
  grid-template-rows: auto auto auto auto auto;
  margin-bottom: 100px;
}

.sidebar a,
.sidebar a:hover {
  text-decoration: none;
  color: var(--main-background-color);
  font-weight: bold;
  margin-bottom: 20px;
}

.sidebar #logo {
  margin: 10px 4px 0px;
}

.fa-facebook:hover {
  color: #3b5998;
}

.fa-users:hover {
  color: #3b5998;
}

.fa-github:hover {
  color: #000000;
}

.fa-instagram:hover {
  background: -webkit-linear-gradient(-130deg, #515BD4, #8134AF, #DD2A7B, #FEDA77, #F58529);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.fa-linkedin:hover {
  color: #0e76a8;
}

main {
  background-color: var(--main-background-color);
  color: var(--main-foreground-color);
  width: 100%;
  height: 100%;
  position: absolute;
  background-image: url("../img/bg.jpg");
  background-size: cover;
  background-repeat: none;
  background-position: center center;
}


/* ------ Media Queries ------ */
/* Extra Small */
@media (max-width:576px) {
  .welcome-heading {
    font-size: 1.1em;
  }

  main {
    /*sidebar margin*/
    padding-left: calc(var(--sidebar-max-width-sm));
  }

  .sidebar {
    grid-template-rows: 80px auto;
  }

  .sidebar #logo {
    max-width: 40px;
  }

  .sidebar i {
    font-size: 26px;
  }

  #featured-slider-container>div {
    font-size: 13px;
  }

  #featured-slider-container>div>span {
    font-size: 20px;
  }
}

/* Small */
@media (min-width:576px) and (max-width: 768px) {
  .welcome-heading {
    font-size: 1.6em;
  }

  main {
    /*sidebar margin*/
    padding-left: calc(var(--sidebar-max-width-sm) + 20px);
  }

  .sidebar {
    grid-template-rows: 90px auto;
  }

  .sidebar #logo {
    max-width: 65px;
  }

  .sidebar i {
    font-size: 32px;
  }

  #featured-slider-container>div {
    font-size: 16px;
  }

  #featured-slider-container>div>span {
    font-size: 23px;
  }
}

/* Medium */
@media (min-width:768px) and (max-width:992px) {
  .welcome-heading {
    font-size: 1.7em;
  }

  main {
    /*sidebar margin*/
    padding-left: calc(var(--sidebar-max-width-md) + 16px);
  }

  .sidebar {
    grid-template-rows: 100px auto;
  }

  .sidebar #logo {
    max-width: 75px;
  }

  .sidebar i {
    font-size: 38px;
  }

  #featured-slider-container>div {
    font-size: 20px;
  }

  #featured-slider-container>div>span {
    font-size: 30px;
  }
}

/* Large */
@media (min-width:992px) and (max-width:1200px) {
  .welcome-heading {
    font-size: 1.9em;
  }

  main {
    /*sidebar margin*/
    padding-left: calc(var(--sidebar-max-width-lg) + 16px);
  }

  .sidebar {
    grid-template-rows: 115px auto;
  }

  .sidebar #logo {
    max-width: 80px;
  }

  .sidebar i {
    font-size: 40px;
  }

  #featured-slider-container>div {
    font-size: 21px;
  }

  #featured-slider-container>div>span {
    font-size: 40px;
  }
}

/* Extra Large */
@media (min-width:1200px) {
  .welcome-heading {
    font-size: 2em;
  }

  main {
    /*sidebar margin*/
    padding-left: calc(var(--sidebar-max-width-xl) + 16px);
  }

  .sidebar {
    grid-template-rows: 130px auto;
  }

  .sidebar #logo {
    max-width: 90px;
  }

  .sidebar i {
    font-size: 45px;
  }

  #featured-slider-container>div {
    font-size: 23px;
  }

  #featured-slider-container>div>span {
    font-size: 40px;
  }
}